@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
  background: #FBFBFB;
  color: #2A363B;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background: #FBFBFB;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .logo {
  height: 20px;
  width: auto;
  margin: auto;
  display: block;
}

body {
  background-image: url(../img/BACKGROUNDPIC.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

main .carousel-inner {
  max-height: 39rem;
  margin: auto;
}
main p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
main p button a {
  text-decoration: none;
  color: #000;
}
main #localizacion {
  background-color: #f3f3f3;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #localizacion .mapa {
  border: 3px solid #000;
  border-radius: 10px;
  margin-top: 30px;
  width: 100%;
  height: 400px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
main .wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}
main #numero-localizacion div {
  padding: 0 20px 0 0;
  height: 48px;
}
main #numeros-localizacion div:not(:last-child) {
  border-right: 2px solid #000;
  padding-right: 10px;
}
main #numeros-localizacion div:not(:first-child) {
  padding-left: 20px;
}
main #numeros-localizacion div p {
  margin: 0;
}
main #bg-contacto {
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
main #seccion-contacto {
  min-height: 500px;
  position: relative;
  width: auto;
}
main #bg-login {
  position: relative;
  min-height: 400px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
}
main #bg-registro {
  position: relative;
  min-height: 400px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 1440px) {
  main main #intro {
    width: 100% !important;
  }
  main main p {
    font-family: "Monserrat", sans-serif !important;
  }
  main main .icono-wrap {
    flex-wrap: wrap !important;
    gap: 20px !important;
    justify-content: center !important;
    text-align: center !important;
  }
  main main .servicio-fila {
    text-align: center !important;
  }
}
main #localizacion {
  padding-top: 30px !important;
  align-items: start !important;
}
main .wrapper {
  width: 90% !important;
  margin: auto !important;
  padding-top: 50px;
}

@media (max-width: 1024px) {
  main #intro {
    width: 90% !important;
  }
  main p {
    font-family: "Monserrat", sans-serif;
  }
  main .servicio-fila {
    width: 100% !important;
    text-align: center !important;
  }
  main #localizacion {
    flex-wrap: wrap !important;
    padding-top: 30px !important;
  }
  main .wrapper {
    width: 90% !important;
    margin: auto !important;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  main #intro {
    width: 90% !important;
  }
  main p {
    font-family: "Monserrat", sans-serif;
  }
  main .icono-wrap {
    flex-wrap: wrap;
    justify-content: center !important;
  }
  main #localizacion {
    flex-wrap: wrap !important;
    padding-top: 30px !important;
  }
  main .wrapper {
    flex-wrap: wrap !important;
    width: 90% !important;
    margin: auto !important;
    padding-top: 50px;
  }
  main #bg-contacto {
    padding-bottom: 10px !important;
    flex-wrap: wrap !important;
  }
  main #bg-contacto h1 {
    margin-top: 0 !important;
  }
  main #bg-login {
    padding-left: 40px !important;
    flex-wrap: wrap !important;
  }
  main #bg-login h1 {
    padding-top: 0 !important;
  }
  main #bg-registro {
    flex-wrap: wrap !important;
  }
  main #bg-registro h1 {
    margin-top: 0 !important;
  }
  main #CursoFulls {
    flex-wrap: wrap !important;
    justify-content: center !important;
    text-align: center !important;
  }
  main #CursoFulls img {
    width: 90% !important;
    height: auto !important;
    margin-bottom: 20px !important;
  }
  main #CursoFulls p {
    width: 100% !important;
    padding: 0 20px !important;
    box-sizing: border-box !important;
  }
  main #profesfullstack {
    flex-wrap: wrap !important;
    justify-content: center !important;
    text-align: center !important;
  }
  main #profesfullstack img {
    width: 65% !important;
    height: auto !important;
    margin-bottom: 20px !important;
  }
  main #profesfullstack p {
    width: 100% !important;
    padding: 0 20px !important;
    box-sizing: border-box !important;
  }
  main #profesfullstack img#bienvenido {
    border-radius: 170px !important;
  }
  main #profesfullstack img#Carlos {
    width: 100% !important;
  }
  main #card {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70% !important;
    height: auto !important;
    margin-bottom: 20px !important;
  }
  main #info-warning {
    width: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 20px !important;
  }
  main #cursos-cards {
    flex-wrap: wrap !important;
    justify-content: center !important;
    text-align: center !important;
  }
  main #cursos-cards .card {
    width: 90% !important;
    height: auto !important;
    margin-bottom: 20px !important;
  }
}

/*# sourceMappingURL=style.css.map */
