// Fonts 
$primary-fonts: "Lobster", sans-serif;
$secondary-fonts: "Big Shoulders", sans-serif;
//Colors 
$salmon:#F8B195;
$pink:#F67280;
$soft-purple:#C06C84;
$purple:#6C5B7B;
$navy-blue:#355C7D;
$green:#99B898;
$gradiente:linear-gradient($salmon 30%,$pink,$soft-purple,$purple,$navy-blue 85%);
$beige:#FECEAB;
$pink:#FF847C;
$fucsia:#E84A5F;
$black:#2A363B;
$white:#FBFBFB;
$gradiente2:linear-gradient($green,$beige,$pink,$fucsia,$black)