body{
  background-image: url(../img/BACKGROUNDPIC.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
main {
 .carousel-inner{
    max-height: 39rem;
    margin: auto;
  }
  p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    button{
      a{
        text-decoration:none;
        color:#000;
      }  
   }
}
 
//-------MAPA------------//
#localizacion{
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  .mapa{
    border: 3px solid #000;
    border-radius: 10px;
    margin-top: 30px;
    width: 100%;
    height: 400px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
  }
}
.wrapper{
  width: 50%;
  margin-left:100px;
  padding-top: 150px;
}
#numero-localizacion div{
  padding: 0 20px 0 0;
  height: 48px;
}

#numeros-localizacion div:not(:last-child){
  border-right: 2px solid #000;
  padding-right:10px ;
}

#numeros-localizacion div:not(:first-child){
  padding-left:20px;

}
#numeros-localizacion div p{
  margin: 0;
}

//-------FORMULARIO CONTACTO-----------//
//-----------------------------------------//
#bg-contacto{
  min-height: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-left:30px;
  padding-right: 30px;
  background-color: rgba(0,0,0,0.3);
}
#seccion-contacto{
  min-height: 500px;
  position: relative;
  width:auto
}

//-------FORMULARIO LOGIN-----------//
//-----------------------------------------//
#bg-login{
 position: relative;
  min-height: 400px;
  width: fit-content;
  background-color: rgba(0,0,0,0.3);
}


//-------FORMULARIO REGISTRO-----------//
//-----------------------------------------//
#bg-registro{
 position: relative;
  min-height: 400px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  padding-left:30px;
  padding-right: 30px;
  background-color: rgba(0,0,0,0.3);
}


//-------RESPONSIVE--------------------------------//
//---------DESKTOP 1440PX------------------------------------//
main{
  @include breakpoint(desktop){
    #intro{
      width:100% !important;
    }
    p{
     font-family:"Monserrat",sans-serif !important;
    }
    .icono-wrap{
      flex-wrap: wrap !important;
      gap:20px !important;
      justify-content: center !important;
      text-align: center !important;
    }
    .servicio-fila{
     text-align: center !important;
    }}
}

#localizacion{
      padding-top: 30px !important;
      align-items:start!important;
}
.wrapper{
      width: 90% !important; 
      margin: auto !important;
      padding-top: 50px;}
}


//-------RESPONSIVE------------------------//
//---------TABLET 768PX------------------//
main{
  @include breakpoint(tablet){
    #intro{
      width:90% !important;
    }
    p{
      font-family:"Monserrat",sans-serif;
    }
    .servicio-fila{
     width: 100% !important;
     text-align: center !important;
    }
    #localizacion{
      flex-wrap: wrap !important; ;
      padding-top: 30px !important;
    }
    .wrapper{
    width: 90% !important;
    margin: auto !important;
    padding-top: 50px;
    }
  }
}

//-------RESPONSIVE------------------------//
//---------MOBILE 400PX-------------------//
main{
  @include breakpoint(mobile){
    #intro{
      width:90% !important;
    }
     p{
      font-family:"Monserrat",sans-serif;
    }
    .icono-wrap{
      flex-wrap: wrap;
      justify-content: center !important;
    }
    #localizacion{
      flex-wrap: wrap !important; ;
      padding-top: 30px !important;
    }
    .wrapper{
      flex-wrap: wrap !important;
      width: 90% !important; 
      margin: auto !important;
      padding-top: 50px;}

    #bg-contacto{
      h1{
         margin-top: 0 !important;}
     padding-bottom: 10px !important;
     flex-wrap: wrap !important;
     }
    #bg-login{
      h1{ 
         padding-top: 0!important;}
      padding-left: 40px !important;
      flex-wrap: wrap !important;
     }
    #bg-registro{
      h1{
         margin-top: 0!important;}
      flex-wrap: wrap !important;
     }
    #CursoFulls{
      flex-wrap: wrap !important;
      justify-content: center !important;
      text-align: center !important;
      img{
        width: 90% !important;
        height: auto !important;
        margin-bottom: 20px !important;
      }
      p{
        width: 100% !important;
        padding: 0 20px !important;
        box-sizing: border-box !important;
      } 
  }
      #profesfullstack{
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center !important;
        img{
          width: 65% !important;
          height: auto !important;
          margin-bottom: 20px !important;
        }
        p{
          width: 100% !important;
          padding: 0 20px !important;
          box-sizing: border-box !important;
        }
        img#bienvenido{
          border-radius: 170px !important;
        }
        img#Carlos{
          width: 100% !important;
     }}
      #card{
        margin-left: auto !important;
        margin-right: auto !important;
         width: 70% !important;
         height: auto !important;
         margin-bottom: 20px !important;
        }
        #info-warning{
          width: fit-content !important;
          margin-left: auto !important;
          margin-right: auto !important;
          padding: 0 20px !important;
        }
      #cursos-cards{
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center !important;
        .card{
          width: 90% !important;
          height: auto !important;
          margin-bottom: 20px !important;
        }  
}}}