//RESPONSIVE (MOBILE)//
nav{
  @include breakpoint(mobile){
    ul{
       list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 60px;
        left: 195px;
        display: inline-block;
        z-index: 1;
        visibility: hidden;
        &:hover{
          color: white;
          visibility: visible;}
       li{
         border: 2px solid #355C7D;
         background-color: white;
         border-radius: 5px;
         position: relative;
         top: -15px;
          &:hover,:focus{ 
            color: $navy-blue;
           }
         &.ontop{
          color: white;
          font-size: 15px;
          letter-spacing: 1px;
          font-weight: bolder;
          position: absolute;
          top: -45px;
          left: 19px;
          background-color: transparent;
          border: none;
          width: 200px;
          visibility: visible;
          }
          &:hover,:focus { 
            color:$navy-blue;
          }
        }
    }
      a{
         color: #355C7D;
        text-decoration: none;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bolder;
        padding: 10px;
       &:hover,:focus { 
         color:$navy-blue;

    }
    }
    }
  .container {
      @include breakpoint(mobile){
       visibility: visible;
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: -9px;
        left: 114px;
         &:hover + ul{
          visibility: visible;
     }
     .bar1, .bar2, .bar3 {
        width: 30px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;}
}
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

//RESPONSIVE (LARGEDESKTOP)//
nav{
  @include breakpoint(largedesktop){
    ul{
    list-style:none;
    margin: 0;
    padding:0;
    display:flex;
    position: absolute;
    top: 10px;
    visibility: visible;
      li{
       &:hover{ 
        color: white;
    }
      &.ontop{
         color:$navy-blue;
         font-size: 20px;
         letter-spacing: 1px;
         font-weight: bolder;
        }
    }
      a{
      color:$black;
      text-decoration: none;
      background-color: transparent;
      font-size: 20px;
      letter-spacing: 1px;
      font-weight: bolder;
       &:hover{ 
      color:$navy-blue;
    }
    }
    }}
  .container {
    @include breakpoint(largedesktop){
    visibility:hidden;
    cursor: pointer;
    position: relative;
    top: -9px;
    left: 66px;
    &:hover + ul{
     visibility: visible;
     
    }
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;}
}

.change {
    .bar1{ 
     transform: translate(0, 11px) rotate(-45deg);
    }
}
.change{
   .bar2 {opacity: 0;}}
.change {
    .bar3 {
     transform: translate(0, -11px) rotate(45deg);}
}
}
}
//RESPONSIVE (TABLET)//
nav{
  @include breakpoint(tablet){
    ul{
       list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 60px;
        left: 605px;
        display: inline-block;
        z-index: 1;
        visibility: hidden;
        &:hover{
          color: $navy-blue;
          visibility: visible;}
       li{
         border: 2px solid #355C7D;
         background-color: white;
         border-radius: 5px;
         position: relative;
         top: 10px;
         left: 12px;
          &:hover,:focus{ 
            color: $navy-blue;
           }
         &.ontop{
          color: white;
          font-size: 20px;
          letter-spacing: 1px;
          font-weight: bolder;
          position: absolute;
          top: -21px;
          left: 22px;
          background-color: transparent;
          border: none;
          width: 110px;
          visibility: visible;
          }
          &:hover,:focus { 
            color:$navy-blue;
          }
        }
    }
      a{
       color: #355C7D;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bolder;
        padding: 30px 10px 30px 10px;
       &:hover,:focus { 
         color:$navy-blue;

    }
    }
    }
   .container {
      @include breakpoint(tablet){
       visibility: visible;
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: -9px;
        left: 167px;
         &:hover + ul{
          visibility: visible;
     }
     .bar1, .bar2, .bar3 {
        width: 30px;
        height: 2px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;}
}
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}